@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

  body {
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    /* margin-right: 50px;
    margin-left: 50px; */
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    line-height: inherit;
  }

  h1 {
    color: #252525;
    font-size: 3em;
    line-height: 50px;
  }

  h2 {
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  h3,
  h3 a {
    color: #454545;
  }

  p {
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
  }

  li {
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a:hover, a:active, a:focus {
    color: #04a441;
    outline: none;
  }


  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 40px;
  }

  .section-title h2 {
    margin: 0;
  }

  .section-title h4 {
    color: #bfbdbd;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
  }

  .overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  section {
    position: relative;
    padding: 50px 0;
  }




  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }




 


  /*---------------------------------------
      HOME              
  -----------------------------------------*/

  #home {
    padding: 0;
  }

  #home h1 {
    color: #ffffff;
    padding-bottom: 30px;
  }

  #home h3 {
    color: #f9f9f9;
    font-size: 14px;
    line-height: inherit;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
  }

 









  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
      margin-left: inherit;
    }
  }


  @media only screen and (max-width: 1200px) {
    .about-info {
      padding-right: 0;
    }

    .about-image {
      position: relative;
    }
  }


  @media only screen and (max-width: 992px) {
    section {
      /* padding: 60px 0; */
    }

    .custom-navbar .section-btn {
      margin-left: 1em;
    }

    .slider .item {
      background-position: center;
    }

    .about-info {
      padding: 0;
    }

    .team-info {
      margin-bottom: 50px;
    }

    #menu .menu-thumb {
      width: 103%;
    }

    #testimonial {
      background-position: 50% 0 !important;
    }

    #google-map,
    .footer-info {
      margin-bottom: 50px;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-navbar .nav li a {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 2.5em;
    }

    h1,h2,h3 {
      line-height: normal;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 10px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #252525;
      font-weight: 600;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .custom-navbar .navbar-nav.navbar-right li {
      display: inline-block;
    }

    .custom-navbar .navbar-nav.navbar-right .section-btn {
      display: block !important;
      width: 50%;
      margin: 10px auto 10px auto;
      padding: 10px;
    }

    .custom-navbar .section-btn a {
      color: #ffffff !important;
    }

    .slider .caption {
      padding: 0;
    }

    .menu-thumb .menu-info {
      top: 80%;
    }

    footer {
      padding: 60px 0;
      padding-bottom: 60px;
    }

    .footer-open-hour {
      right: 0;
      bottom: 0;
      margin-top: 30px;
    }
  }


  @media only screen and (max-width: 580px) {
    h1 {
      font-size: 2.1em;
    }

    h2 {
      font-size: 1.8em;
    }

    .menu-thumb .menu-info {
      top: 60%;
    }
  }

